<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181443198732-hkvfql5fsedqnm2jf1pquktro13g0paf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181443198732-hkvfql5fsedqnm2jf1pquktro13g0paf</string>
	<key>API_KEY</key>
	<string>AIzaSyB1bA5IFh23MNEYIIqGcwlzWRADonlinv4</string>
	<key>GCM_SENDER_ID</key>
	<string>181443198732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieListApp</string>
	<key>PROJECT_ID</key>
	<string>movie-list-app-1a05a</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-list-app-1a05a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181443198732:ios:27d7ef2482bff7ad7a9329</string>
</dict>
</plist>